 /*header */
#header {margin-bottom:15px;}

#header h1 a {
	color: #658A16;
	text-decoration: none
}

#header h1 small {color: #BACE87;}

/* footer */
#footer {
	margin-top: 15px;
	padding: 15px 0px 0px 0px;
	font-size: 95%;
	/*text-align: center;*/
	border-top: 2px solid #658A16;
	width: 95%;
}

.serchBtn {
	margin-top: 20px;
}

#footer a {color: #999;}

.top-height {
	margin-top: 30px;
	height: 80px;
}

.center {
    margin: 0 auto;
	vertical-align: middle;
	text-align: center;
}